<template>
  <v-container grid-list-xs >
      <v-flex xs12 >
          <v-card  class=" lighten-1">
            <v-layout row wrap>
            <v-card-text> 
              <v-btn @click="setOriginalPosition()">Reset</v-btn>
            </v-card-text> 
            </v-layout>
          </v-card>
      </v-flex>
      <v-flex xs12 >
      <v-card  class=" lighten-1">
        <v-card-text> 
          <v-layout row wrap>
            <v-flex xs12 >
              Pages show Percentage %
            </v-flex>
            <v-flex xs7 >
              <v-slider label="" v-bind:max="100" v-model="action.params.displayPercentage"></v-slider>
            </v-flex>
            <v-flex xs2 offset-xs1 >
              <v-text-field v-model="action.params.displayPercentage" type="number"></v-text-field>
            </v-flex>
          </v-layout>
        </v-card-text> 
      </v-card>
      </v-flex>
    <v-layout row wrap>
      <v-flex xs12 >
          <v-card  class=" lighten-1">
            <v-card-text> 
              <v-layout row wrap>
                <v-flex class="text-cetner cell-1">Position</v-flex>
                <v-flex class="text-cetner cell-2">Brand</v-flex>
                <v-flex class="text-cetner cell-3">Original Position</v-flex>
             </v-layout>
            </v-card-text>
          </v-card>
        <draggable :list="action.params.orderedList" @end="onChanged()">
          <v-card  class="brands-list" v-for="(brand, index) in action.params.orderedList" >
            <v-card-text v-bind:class="[index%2==0 ? 'grey lighten-3' : 'grey lighten-4']">
              <v-layout row wrap>
                <v-flex class="cell-1">{{brand.newPosition}}</v-flex>
                <v-flex class="cell-2">
                     <v-icon>format_align_justify</v-icon> {{brand.name}}
                </v-flex>
                <v-flex class="text-cetner cell-3">{{brand.position}}</v-flex>
             </v-layout>
            </v-card-text>
          </v-card>
        </draggable>
      </v-flex >
    </v-layout >
  </v-container>
</template>
<script>
import draggable from 'vuedraggable'
import {mapGetters} from 'vuex'

export default {
  name: 'ManualOrder',
  props: ['action', 'isEditable'],
  components: {
    draggable
  },
  computed: {
    ...mapGetters([
      'listPlacement'
    ]),
    brands () {
      if (this.listPlacement.list && this.listPlacement.list.brands) {
        return this.listPlacement.list.brands
      } else {
        return []
      }
    }
  },
  created () {
    this.initList()
  },
  methods: {
    initList () {
      if (this.action.params.orderedList.length === 0) {
        this.setNewAction()
      } else {
      }
    },
    setNewAction () {
      this.setNewList()
    },
    setNewList () {
      this.action.params.orderedList = []
      let counter = 1
      this.brands.forEach(brand => {
        let newBrand = JSON.parse(JSON.stringify(brand))
        newBrand.newPosition = newBrand.position = counter++
        this.action.params.orderedList.push(newBrand)
      })
    },
    onChanged (evt, originalEvent) {
      this.action.params.orderedList.forEach((brand, index) => {
        brand.newPosition = index + 1
      })
    },
    setOriginalPosition () {
      this.setNewList()
    },
    tpActionValidate () {
      return true
    }
  },
  data () {
    return {}
  }
}
</script>

<style scope>
  .draggable-row {
    background: red;
    min-height: 20px;
  }
  .cell-1 {
    max-width: 10%;
  }
  .cell-2 {
    max-width: 60%;
  }
  .cell-3 {
    max-width: 30%;
  }
  .text-cetner {
    text-align: center
  }
 .column-position {
    max-width:3%;
  }
 .column-brands {
    max-width:15%;
  }
 .column-original-position {
    max-width:7%;
  }
</style>
