<template>
  <div>
    <v-dialog 
      v-if="showBrandSettings" 
      v-model="showBrandSettings" 
      max-width="500px"
      lazy
      persistent
      >
      <v-card>
        <v-card-title>
         <strong>{{brandForSettings.name}}</strong>  
        </v-card-title>
        <v-card-text>
          <tp-confirm-button
            v-if="brandForSettings.isDisabled"
            @confirmed="brandToggle()"
            classes="default-btn"
            open-btn-text="Enable Brand"
            headline="Enable Brand?, It`s about time"
            text="This will Enable the brand all over the site, Are you sure?" >
          </tp-confirm-button>
          <tp-confirm-button
            v-else
            @confirmed="brandToggle()"
            classes="delete-btn"
            open-btn-text="Disable Brand"
            headline="Really, Disable Brand from site ?"
            text="This will disable the brand all over the site, Are you sure?" >
          </tp-confirm-button>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" flat @click="close">Close</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import TpConfirmButton from '../general/TpConfirmButton.vue'

export default {
  name: 'BrandSettings',
  components: {
    TpConfirmButton
  },
  computed: {
    ...mapGetters([
      'currentSite',
      'brandForSettings'
    ])
  },
  watch: {
    brandForSettings () {
      if (this.brandForSettings == null) {
        this.showBrandSettings = false
      } else {
        this.showBrandSettings = true
      }
    }
  },
  methods: {
    ...mapActions([
      'setBrandForSetting',
      'toggleBrand'
    ]),
    brandToggle () {
      let params = {
        siteId: this.currentSite.id,
        brandId: this.brandForSettings.id,
        type: this.brandForSettings.isDisabled ? 'enable' : 'disable'
      }
      this.toggleBrand(params)
        .then(() => {
          this.$emit('brandSettingChanged')
          this.showBrandSettings = false
        })
    },
    close () {
      this.setBrandForSetting(null)
      this.showBrandSettings = false
    }
  },
  data () {
    return {
      showBrandSettings: false
    }
  }
}
</script>
