<template>
  <v-flex edit-form-container>
      <v-form>
          <v-layout row>
            <v-flex md5>
              <h2>{{pageName}}</h2>
            </v-flex>
            <v-flex md3 offset-md1>
              <v-btn @click="save()" class="default-btn">Save</v-btn>
              <tp-confirm-button
                v-if="!isNewList" 
                @confirmed="destroy()"
                classes="delete-btn"
                open-btn-text="Delete"
                headline="Really, Delete List?"
                text="Are you sure you to delete this list?" >
              </tp-confirm-button>
            </v-flex>
          </v-layout>
          <v-layout row>
              <v-flex>
                  <v-text-field
                          label="Name"
                          v-model="currentList.name"
                          name="list"
                          :error-messages="errors.collect('name')"
                          v-validate="'required'"
                          data-vv-name="name"
                  ></v-text-field>
              </v-flex>
          </v-layout>
          <v-layout row>
              <v-flex>
                  <v-text-field
                          label="Description"
                          v-model="currentList.description"
                          name="list"
                          :error-messages="errors.collect('description')"
                          v-validate="'required'"
                          data-vv-name="description"
                  ></v-text-field>
              </v-flex>
          </v-layout>
          <v-layout row>
              <v-flex v-if="allowChangeContentType">
                  <v-select
                          label="Content Type"
                          v-bind:items="contentTypes"
                          v-model="selectedContentType"
                          v-validate="'required'"
                          item-value="id"
                  item-text="name"
                  return-object
                  single-line
                  bottom
                  ></v-select>
              </v-flex>
              <v-flex v-else="allowChangeContentType" class="change-content">
                  Brands List: &nbsp;{{this.selectedContentType.name}}
                  <v-tooltip bottom>
                      <v-btn slot="activator" class="edit-btn" @click="changeContentType()">
                          <i class="material-icons">edit</i>
                      </v-btn>
                      <span>Change Brands List</span>
                  </v-tooltip>
              </v-flex>
          </v-layout>
          <v-layout row>
              <v-flex>
                  <v-select
                      label="Category"
                      :items="categories"
                      v-model="currentList.category"
                      v-validate="'required'"
                      return-object
                      single-line
                      bottom
                  ></v-select>
              </v-flex>
          </v-layout>
          <v-layout row>
          <v-flex xs12 sm6 class="py-2">
            <v-btn-toggle mandatory v-model="currentList.type">
              <v-btn class="teal lighten-1" value="position">
                <v-icon>shuffle</v-icon>
                <span> Scoring by Position</span>
              </v-btn>
              <v-btn class="teal lighten-1" flat value="review">
                <v-icon>av_timer</v-icon>
                <span> Scoring by Review</span>
              </v-btn>
              <v-btn class="teal lighten-1" flat value="manual">
                <v-icon>album</v-icon>
                <span>Manual Scoring</span>
              </v-btn>
            </v-btn-toggle>
          </v-flex>
          <v-flex xs12 sm6 class="py-2">
            <v-btn @click="mobileSpecific()" flat class="blue-grey lighten-1">
              <span v-if=currentList.isMobileSpecific>
                <v-icon>screen_share</v-icon> 
                Mobile same as desktop
              </span>
              <span v-else>
                <v-icon>stay_primary_portrait</v-icon> 
                Mobile Specific
              </span>
            </v-btn>
          </v-flex>
          </v-layout>
          <v-layout row>
          <v-flex md5>
            <v-layout row>
              <v-flex md6>
                <h4 v-if="currentList.isMobileSpecific">Desktop</h4>
                <h4 v-else>Desktop & Mobile</h4>
              </v-flex>
              <v-flex offset-md3 md3>
                <v-btn 
                    v-if="isExpandable" 
                    @click="isExpanded = !isExpanded"
                    class="blue-grey lighten-2">
                  <span v-if="isExpanded">
                    <v-icon>album</v-icon>
                    Close All
                  </span>
                  <span v-else>
                    <v-icon>shuffle</v-icon>
                    Open All
                  </span>
                </v-btn>
              </v-flex>
            </v-layout >
            <list-order 
              ref="desktopList"
              v-if="currentList.desktop"
              :isExpanded="isExpanded"
              :isExpandable="isExpandable"
              :list="currentList.desktop">
            </list-order>
          </v-flex>
          <v-flex md5 offset-md1 v-if="currentList.isMobileSpecific">
            <v-layout row>
              <v-flex md6>
                <h4>Mobile</h4>
              </v-flex>
              <v-flex offset-md2 md4>
                <v-btn value="1" @click="copyDesktopBrandsToMobile()" class="blue-grey lighten-2">
                  <v-icon>arrow_forward</v-icon>
                  <span>Copy Desktop</span>
                </v-btn>
              </v-flex>
            </v-layout>
            <list-order 
              ref="mobileList"
              :isExpanded="isExpanded"
              :isExpandable="isExpandable"
              :list="currentList.mobile">
            </list-order>
          </v-flex>
          </v-layout>
      </v-form>
      <brand-settings @brandSettingChanged="getListFromRouteParams()" :brand="brandForSettings"></brand-settings>
  </v-flex>
</template>
<script>
import {mapGetters, mapActions} from 'vuex'
import ListOrder from './Order.vue'
import BrandSettings from './BrandSettings.vue'
import TpConfirmButton from '../general/TpConfirmButton.vue'
import {LIST_CATEGORIES} from '../general/constants.js'

export default {
  name: 'ListEdit',
  components: {
    ListOrder,
    TpConfirmButton,
    BrandSettings
  },
  computed: {
    ...mapGetters([
      'currentList',
      'contentTypes',
      'brandsList',
      'brandForSettings'
    ]),
    isNewList () {
      return !this.$route.params.listId
    },
    isExpandable () {
      return this.currentList.type === 'manual'
    }
  },
  watch: {
    '$route' (to, from) {
      this.initList()
    },
    currentList () {
      this.setCurrentContentType(this.currentList.contentTypeId)
    },
    contentTypes () {
      if (this.contentTypes.length > 0) {
        if (this.isNewList) {
          this.selectedContentType = this.contentTypes[0]
        }
      }
    },
    selectedContentType () {
      if (!this.selectedContentType) return
      let params = {
        siteId: this.$route.params.siteId,
        contentTypeId: this.selectedContentType.id
      }
      this.getBrandsList(params)
    },
    brandsList () {
      if (this.isNewList) {
        this.currentList.desktop.brands = this.brandsList
      }
    }
  },
  created () {
    this.initList()
  },
  methods: {
    ...mapActions([
      'setCurrentList',
      'getList',
      'getLists',
      'getContentTypes',
      'saveList',
      'showAlert',
      'getBrandsList',
      'deleteList'
    ]),
    initList () {
      let siteId = this.$route.params.siteId
      this.getContentTypes(siteId)
      this.allowChangeContentType = false

      if (this.isNewList) {
        this.allowChangeContentType = true
        let list = {
          name: '',
          contentTypeId: null,
          type: 'position',
          isMobileSpecific: false,
          desktop: {
            brands: [],
            notUsedBrands: []
          },
          mobile: {
            brands: [],
            notUsedBrands: []
          }
        }

        this.setCurrentList(list)
        this.pageName = 'Create New List'
      } else {
        this.pageName = 'Edit list'
        this.getListFromRouteParams()
      }
    },
    getListFromRouteParams () {
      let listParams = {
        siteId: this.$route.params.siteId,
        listId: this.$route.params.listId
      }
      this.getList(listParams)
    },
    mobileSpecific () {
      this.currentList.isMobileSpecific = !this.currentList.isMobileSpecific
      if (this.currentList.isMobileSpecific) {
        if (this.currentList.mobile.brands.length === 0 &&
          this.currentList.mobile.notUsedBrands.length === 0) {
          this.copyDesktopBrandsToMobile()
        }
      }
    },
    copyDesktopBrandsToMobile () {
      this.currentList.mobile = JSON.parse(JSON.stringify(this.currentList.desktop)) // clone
    },
    setCurrentContentType (id) {
      this.selectedContentType = this.contentTypes.find(contentType => {
        return contentType.id === id
      })
    },
    tpValidate () {
      this.$validator.validateAll()
      let valid = (this.$validator.errors.count() === 0)
      valid = this.$refs.desktopList.tpValidate() && valid
      if (this.$refs.mobileList) {
        valid = this.$refs.mobileList.tpValidate() && valid
      }

      return valid
    },
    save () {
      let valid = this.tpValidate()
      if (!valid) {
        this.showAlert({
          color: 'error',
          text: 'Please fill all the fields'
        })
        return
      }
      this.currentList.contentTypeId = this.selectedContentType.id
      this.saveList(this.currentList)
        .then((savedList) => {
          this.showAlert({
            color: 'success',
            text: 'List saved'
          })

          this.getLists(this.$route.params.siteId)

          this.$router.push({
            name: 'ListEdit',
            params: {
              siteId: this.$route.params.siteId,
              listId: savedList.id
            }
          })
        })
    },
    changeContentType () {
      this.allowChangeContentType = true
    },
    destroy () {
      this
        .deleteList()
        .then((res) => {
          this.getLists(this.$route.params.siteId)
          this.$router.push({
            name: 'ListsView',
            params: {
              siteId: this.$route.params.siteId
            }
          })
        })
    }
  },
  data () {
    return {
      list: null,
      selectedContentType: {},
      allowChangeContentType: false,
      pageName: 'Edit',
      isExpanded: false,
      categories: LIST_CATEGORIES
    }
  }
}
</script>
<style scoped>
  .btn-disabled {
    opacity: 0.4
  }
  .change-content {
      text-align: left;
  }
</style>
