<template>
  <v-card>
    <v-card-text class="grey lighten-3">
      <v-layout row>
        <v-flex md2>
          <v-text-field
            v-model="brand.score"
            name="score"
            label="score"
            class="input-group--focused"
            :error-messages="errors.collect('score')"
            v-validate="'required|decimal'"
            ></v-text-field>
        </v-flex>
        <v-flex md2 offset-md1>
          <v-select
            v-model="brand.stars"
            name="stars"
            :items="stars"
            label="Stars"
            class="input-group--focused danger"
            item-value="text"
            :error-messages="errors.collect('stars')"
            v-validate="'required'"
          ></v-select>
        </v-flex>
        <v-flex md6 offset-md1>
          <v-text-field
            v-model="brand.scoreText"
            name="score-text"
            label="Score Text"
            class="input-group--focused"
            :error-messages="errors.collect('score-text')"
            v-validate="'required'"
            ></v-text-field>
        </v-flex>
      </v-layout>
    </v-card-text>
  </v-card>
</template>

<script>

export default {
  name: 'ListItemFields',
  props: ['brand'],
  created () {
  },
  methods: {
    tpValidate () {
      this.$validator.validateAll()
      let valid = (this.$validator.errors.count() === 0)

      return valid
    }
  },
  data () {
    return {
      stars: [5, 4.5, 4, 3.5, 3, 2.5, 2, 1.5, 1],
      ribbons: [
        'ribbon 1',
        'ribbon 2',
        'ribbon 3'
      ]
    }
  }
}
</script>
