<template>
  <div>
    <v-card v-if="!isExpandable" :class="{ brand_disabled: brand.isDisabled }" >
      <v-toolbar >
        <v-flex xs1> {{position + 1}} </v-flex>
        <v-icon @click="openBrandSettings()">settings</v-icon>
        <v-toolbar-side-icon></v-toolbar-side-icon>
        <v-flex xs4> {{brand.name}} </v-flex>
        <v-flex xs4><ribbon :brand="brand"></ribbon></v-flex>
      </v-toolbar>
    </v-card>
    <v-expansion-panel v-else>
      <v-expansion-panel-content :value="isExpanded">
        <div slot="header">
          <v-layout row>
            <v-flex xs1 class="expansion-panel-header-text">{{position + 1}}</v-flex>
            <v-icon @click="openBrandSettings()">settings</v-icon>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-flex xs4 class="expansion-panel-header-text">{{brand.name}}</v-flex>
            <v-flex xs4> <ribbon :brand="brand"></ribbon></v-flex>
          </v-layout>
        </div>
        <item-fields 
          ref="itemFields"
          :brand="brand">
        </item-fields>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </div>
</template>

<script>
import {mapActions} from 'vuex'
import ItemFields from './ItemFields'
import Ribbon from './Ribbon'

export default {
  name: 'ListItem',
  props: ['brand', 'position', 'isExpandable', 'isExpanded'],
  components: {
    ItemFields,
    Ribbon
  },
  methods: {
    ...mapActions([
      'setBrandForSetting'
    ]),
    tpValidate () {
      if (this.$refs.itemFields) {
        let valid = this.$refs.itemFields.tpValidate()
        this.isExpanded = valid ? this.isExpanded : true

        return valid
      } else {
        return true
      }
    },
    openBrandSettings () {
      this.setBrandForSetting(this.brand)
    }
  },
  data () {
    return {
      brandSettings: false
    }
  }
}
</script>
<style scope>
.brand_disabled .toolbar__content {
  background: #f5c5c5;
}
.expansion-panel-header-text {
  margin-top: 13px;
}
</style>
