<template>
  <div>
    <v-btn class="add-new" @click="create()" >
      <i class="material-icons">add</i>
    </v-btn>

    <v-expansion-panel expand>
      <v-expansion-panel-content v-for="(contentType, contentTypeName) in listToDisplay" :key="contentTypeName" :value="contentType.open">
        <div slot="header">{{contentTypeName}} <span class="items-count">{{contentType.length}}</span></div>
        <v-card>
         <v-list dense>
               <template v-for="(category, categoryName) in contentType.categories">
                  <v-list-group
                       v-if="category"
                       v-model="category.open"
                       :key="categoryName"
                       :prepend-icon="category.open ?  'keyboard_arrow_up' : 'keyboard_arrow_down'"
                       append-icon=""
                       >
                       <v-list-tile slot="activator">
                         <v-list-tile-content>
                           <v-list-tile-title>
                             {{categoryName}} <span class="items-count">{{category.lists.length}}</span>
                           </v-list-tile-title>
                         </v-list-tile-content>
                       </v-list-tile>
                       <v-list-tile
                                    v-for="(child, i) in category.lists"
                                    :key="i"
                                    @click="choose(child)"
                                    >
                                    <v-list-tile-action v-if="child.icon">
                                      <v-icon>{{ child.icon }}</v-icon>
                                    </v-list-tile-action>
                                    <v-list-tile-content>
                                      <v-list-tile-title>
                                        {{ child.name }}
                                      </v-list-tile-title>
                                    </v-list-tile-content>
                       </v-list-tile>
                  </v-list-group>
               </template>
         </v-list>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import helpers from '../../Helpers'
import {LIST_CATEGORIES} from '../general/constants.js'

export default {
  computed: {
    ...mapGetters([
      'contentTypes',
      'lists',
      'currentSite'
    ])
  },
  watch: {
    currentSite () {
      this.init()
    },
    lists () {
      this.convertListToDisplayFormat()
    },
    contentTypes () {
      this.convertListToDisplayFormat()
    }
  },
  created () {
    this.createEmptyCategoryObject()
  },
  methods: {
    ...mapActions([
      'getLists',
      'getRibbons'
    ]),
    init () {
      this.siteId = this.currentSite.id
      this.getLists(this.siteId)
      this.getRibbons(this.siteId)
    },
    convertListToDisplayFormat () {
      if (helpers.isEmpty(this.contentTypes) || helpers.isEmpty(this.lists)) {
        return
      }

      let routeListId = this.$route.params.listId
      let listToDisplay = {}
      let contentTypes = helpers.arrayToObject(this.contentTypes, 'id')
      for (let i in this.lists) {
        let list = this.lists[i]
        let contentTypeName = contentTypes[list.contentTypeId].name
        if (!listToDisplay[contentTypeName]) {
          this.addNewListToDisplayItem(listToDisplay, list, contentTypeName)
        } else {
          listToDisplay[contentTypeName].categories[list.category].lists.push(list)
          listToDisplay[contentTypeName].length += 1
        }
        // is this is the displayed list
        if (parseInt(routeListId) === list.id) {
          listToDisplay[contentTypeName].open = true
          listToDisplay[contentTypeName].categories[list.category].open = true
        }
      }
      this.listToDisplay = listToDisplay
    },
    addNewListToDisplayItem (listToDisplay, list, contentTypeName) {
      let categoryObj = helpers.objectDeepClone(this.emptyCategoryObject)
      categoryObj[list.category].lists.push(list)
      listToDisplay[contentTypeName] = {
        length: 1,
        open: false,
        categories: categoryObj
      }
    },
    createEmptyCategoryObject () {
      this.emptyCategoryObject = {}
      LIST_CATEGORIES.forEach((categoryName) => {
        this.emptyCategoryObject[categoryName] = {
          open: false,
          lists: []
        }
      })
    },
    choose (list) {
      this.$router.push({
        name: 'ListEdit',
        params: {
          siteId: this.$route.params.siteId,
          listId: list.id
        }
      })
    },
    create () {
      this.$router.push({
        name: 'ListCreate',
        params: {
          siteId: this.$route.params.siteId
        }
      })
    }
  },
  data () {
    return {
      listToDisplay: {}
    }
  }
}
</script>
<style scoped>
  .items-count {
    float: right;
  }
</style>
