<template>
<div>
    <v-layout row >
        <v-flex class="cards">
            <v-card>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex class="text-cetner cell-1">Position</v-flex>
                        <v-flex class="text-cetner cell-2">Brand</v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
            <draggable  class="drag" :list="list.brands" @end="onChanged()" :options="{group: 'brands'}">
                <v-card v-for="(brand, index) in list.brands" >
                  <list-item 
                    ref="items"
                    :brand="brand" 
                    :isExpanded="isExpanded"
                    :isExpandable="isExpandable"
                    :position="index">
                  </list-item>
                </v-card>
            </draggable>
        </v-flex >
    </v-layout >

    <v-layout row wrap>
        <v-flex class="cards">
            <v-card>
                <v-card-text>
                    <v-layout row wrap>
                        <v-flex class="text-cetner cell-2">Not Used</v-flex>
                    </v-layout>
                </v-card-text>
            </v-card>
            <draggable :list="list.notUsedBrands" :options="{group: 'brands'}" class="not-used-draggable">
                <v-card   v-for="(brand, index) in list.notUsedBrands" >
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex class="cell-2">
                                <v-icon>format_align_justify</v-icon> {{brand.name}}
                            </v-flex>
                        </v-layout>
                    </v-card-text>
                </v-card>
            </draggable>
        </v-flex >
    </v-layout >
</div>
</template>

<script>
import draggable from 'vuedraggable'
import ListItem from './Item'

export default {
  name: 'ListOrder',
  components: {
    draggable,
    ListItem
  },
  props: ['list', 'item', 'isExpandable', 'isExpanded'],
  methods: {
    tpValidate () {
      let valid = true
      for (let item of this.$refs.items) {
        valid = item.tpValidate() && valid
      }

      return valid
    },
    onChanged () {
    }
  },
  data () {
    return {}
  }
}
</script>
<style scoped>
  .not-used-draggable {
    border: 1px solid;
    min-height: 20px;
  }
  .drag {
     min-height: 10px;
  }
  .application--light .flex .drag .card {
      margin: 10px 0;
  }
</style>
