<template>
  <div class="ribbon-chooser-wrapper">
      <v-select
        overflow
        clearable
        class="ribbon-chooser"
        :items="ribbons"
        v-model="brand.ribbonId"
        label="Select Ribbon"
        item-value="id"
        item-text="name"
      ></v-select>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'Ribbon',
  props: ['brand'],
  computed: {
    ...mapGetters([
      'ribbons'
    ])
  },
  data () {
    return {}
  }
}
</script>
<style scoped>

.ribbon-chooser-wrapper {
  top: 6px;
  position: absolute;
}

.ribbon-chooser {
  width: 170px;
}
</style>
