<template>
  <v-layout row >
    <v-flex md3 >
      <list></list>
    </v-flex>
    <v-flex md9 >
      <list-edit></list-edit>
    </v-flex>
  </v-layout>
</template>

<script>
import List from './List.vue'
import ListEdit from './Edit.vue'

export default {
  name: 'ListView',
  components: {
    List,
    ListEdit
  },
  data () {
    return {
    }
  }
}
</script>
