.application--light .btn--icon .btn__content {
    color: #00b289;
}

.application--light .btn, .application--light .btn-toggle .btn {
    color: #fefefe;
}

.home-btn {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff!important;
    transition: all .2s ease;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
}

.home-btn .btn__content {
    font-size: 16px;
    font-weight: 300;
    color: #8b929c;
}

.btn.add-new {
    float: right;
    margin-bottom: -26px;
    margin-right: 30px;
    min-width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #00b289;
}

.btn.edit-btn {
    height: 44px;
    min-width: 44px;
    border-radius: 50%;
    color: #00b289;
}

.btn.edit-btn .btn__content {
    padding: 0 10px;
}

.application--light .default-btn {
    color: #fefefe;
    background-color: #00B289;
    border-color: #00B289;
    background-image: -webkit-linear-gradient(top, #00B289 0%, #00a881 100%);
    background-image: linear-gradient(to bottom, #00B289 0%, #00a881 100%);
    height: 35px;
}

.application--light .default-btn:hover {
    background-color: #00bc91;
    border-color: #00bc91;
    background-image: -webkit-linear-gradient(top, #00bc91 0%, #00B289 100%);
    background-image: linear-gradient(to bottom, #00bc91 0%, #00B289 100%);
}

.experiment-btn.add-new {
    margin: 0;
}

.application--light .edit-btn {
    height: 44px;
    min-width: 44px;
    width: 44px;
    margin: 0;
    display: inline-block;
    margin-left: 30px;
}

.site-view .application--light .btn {
    color: #8b929c;
}

.application--light .delete-btn {
  color: #FFFFFF;
  height: 35px;
  background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
  background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
  background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
  background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
  background-image: -o-linear-gradient(top, #f62b2b, #d20202);
  background-image: linear-gradient(to bottom, #f62b2b, #d20202);
}

.application--light .delete-btn:hover {
  border:1px solid #b30808;
  background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
  background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
  background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
  background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
  background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
  background-image: linear-gradient(to bottom, #e40a0a, #9f0202);
}
