/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

$primary-color = #00b289;

body {
    font-family: 'Raleway', sans-serif;
    background: #FBFCFC;
}

.application--light nav.toolbar {
    background-color: #fafafa;
}

.theme--dark .btn, .application .theme--dark.btn {
    color: $primary-color;
}

.theme--dark .icon, .application .theme--dark.icon {
  color: $primary-color
}

.theme--light .card, .application .theme--light.card {
    background-color: #fafafa;
}

.theme--light .expansion-panel .expansion-panel__container, .application .theme--light.expansion-panel .expansion-panel__container {
    background-color: #fafafa;
}

.primary--text {
    color: $primary-color;
}

.application .theme--dark.input-group.input-group--dirty .input-group__selections__comma:not(.input-group__selections__comma--active) {
    color: #4c525a;
}

.application--light {
    background: #fff;
}

h2 {
    margin-bottom: 30px;
    margin-top: 25px;
    color: $primary-color;
    line-height: 56px;
    font-weight: 300;
    text-align: center;
}

table.table thead td:not(:nth-child(1)), table.table tbody td:not(:nth-child(1)), table.table thead th:not(:nth-child(1)), table.table tbody th:not(:nth-child(1)), table.table thead td:first-child, table.table tbody td:first-child, table.table thead th:first-child, table.table tbody th:first-child {
    padding-top: 10px;
    padding-bottom: 10px;
}

.edit-form-container {
    position: relative;
}

.edit-form-container form {
    padding: 60px;
    border-radius: 6px;
    margin: auto;
    background-color: #fff;
    border: 1px solid #ecf0f1;
    box-shadow: 0 1px 5px rgba(0,0,0,0.05);
    margin-top: 20px;
}

.edit-form-container h2 {
    color: #4C525A;
    margin-bottom: auto;
    font-size: 42px;
    margin-top: 0px;
    text-align: left;
}

.application--light .flex .card {
    margin: 10px;
    cursor: pointer;
}

.application .not-used-draggable[data-v-2ab6c567] {
    border: 0;
}

.primary {
    background-color: $primary-color !important;
    border-color: #1976d2 !important;
}

.main-color {
    background: $primary-color;
}

.application--light .flex .card {
    margin: 0;
}

.change-content {
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.application--light a {
    cursor: pointer;
}

.application--light .input-group input:disabled, .application--light .input-group textarea:disabled {
    color: rgba(0,0,0,0.68);
}

.application--light .card.brands-list {
    margin: 5px 0;
    box-shadow: none;
}
.application--light .toolbar {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px rgba(0,0,0,0.14), 0 1px 0px rgba(0,0,0,0.12);
}

.input-group.input-group--slider:not(.input-group--disabled).input-group--dirty .slider__track-fill, .input-group.input-group--slider.input-group--dirty .slider__thumb {
    color: #00b289;
    background: #00b289;
    border-color: #00b289;
}

.lp-link {
    cursor: pointer;
}

.input-group {
    padding-top: 25px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.cards {
    margin-top: 35px;
}

.experiment .card {
  box-shadow: 0 0px 1px rgba(0,0,0,0.2), 0 0px 0px rgba(0,0,0,0.14), 0 0px 0px 0px rgba(0,0,0,0.12);
}
