<template>
  <v-container>
    <v-layout row>
     <v-flex md3>
        <v-text-field 
          label="Name"
          v-model="rule.name"
          :disabled="!isEditable"
          :error-messages="errors.collect('name')"
          v-validate="'required'"
          data-vv-name="name"
          required
        ></v-text-field>
     </v-flex>

      <v-flex xs4>
        <v-select
          v-bind:items="items"z
          v-model="rule.operator"
          :disabled="!isEditable"
          item-value="slug"
          item-text="name"
          label="Operator"
          single-line
          bottom
          ></v-select>
      </v-flex>

     <v-flex md3>
        <v-text-field
          v-model="rule.value"
          :disabled="!isEditable"
          label="Value"
          :error-messages="errors.collect('value')"
          v-validate="'required'"
          data-vv-name="value"
          required
        ></v-text-field>
     </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  validator: null,
  props: ['rule', 'isEditable'],
  components: {
  },
  computed: {
    ...mapGetters([
      'currentSite',
      'currentList',
      'currentExperiment'
    ])
  },
  created () {
    if (!this.rule.name) {
      this.initNewRule()
    }
  },
  methods: {
    initNewRule () {
      this.rule.name = ''
      this.rule.value = ''
      this.rule.operator = 'equal'
    },
    tpRuleValidate () {
      this.$validator.validateAll({
        'name': this.rule.name,
        'operator': this.rule.operator,
        'value': this.rule.value
      })
      let valid = (this.$validator.errors.count() === 0)
      return valid
    }
  },
  data () {
    return {
      name: '',
      items: [
        { slug: 'equal', name: 'Equal' },
        { slug: 'notEqual', name: 'Not Equal' },
        { slug: 'contains', name: 'Contains' }
      ]
    }
  }
}
</script>
