<template>
  <v-dialog  v-model="show" lazy persistent>
    <v-btn :class="classes" slot="activator">{{openBtnText}}</v-btn>
    <v-card>
      <v-card-title>
        <div class="headline">{{headline}}</div>
      </v-card-title>
      <v-card-text>{{text}}</v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn class="green--text darken-1" flat="flat" @click.native="dialogAnswer(false)">No</v-btn>
        <v-btn class="green--text darken-1" flat="flat" @click.native="dialogAnswer(true)">Yes</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: [
    'openBtnText',
    'headline',
    'text',
    'classes'
  ],
  data () {
    return {
      show: false
    }
  },

  methods: {
    dialogAnswer (answer) {
      this.show = false
      if (answer) {
        this.$emit('confirmed')
      }
    }
  }
}
</script>
