<template>
  <div>
      <h2>Budget limit component</h2>
  </div>
</template>
<script>
export default {
  name: 'BudgetLimit',
  methods: {
    tpActionValidate () {
      return true
    }
  },
  data () {
    return {
      rule: {
        ruleType: 'BudgetLimit',
        params: {}
      }
    }
  }
}
</script>
