<template>
  <v-container>
    <v-flex xs12>
      <v-alert
        error 
        dismissible
        v-model="showError">
        Please finish choosing brands
      </v-alert>
    </v-flex>
    <v-flex xs12>
        <v-select
          label="Select Brands to rotate"
          item-text="name"
          item-value="id"
          :items="brands"
          v-model="tempSelectedBrands"
          multiple
          chips
          hint="Choose 2 or more brands"
          persistent-hint
          return-object
        ></v-select>
    </v-flex>
    <v-btn v-if="validateTemp()" @click="manageWeight()">Go</v-btn>
    <v-btn v-if="validate()" @click="cancel()">Cancel</v-btn>
    {{ errorMessage }}
  </v-container>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
  props: ['action', 'showError'],
  computed: {
    ...mapGetters([
      'listPlacement'
    ]),
    brands () {
      if (this.listPlacement.list && this.listPlacement.list.brands) {
        return this.listPlacement.list.brands
      } else {
        return []
      }
    }
  },
  mounted () {
    this.tempSelectedBrands = this.action.params.selectedBrands
  },
  methods: {
    validate () {
      return (
        (this.action.params.selectedBrands.length > 1)
      )
    },
    validateTemp () {
      return (
        (this.tempSelectedBrands.length > 1)
      )
    },
    manageWeight () {
      this.action.params.selectedBrands = this.tempSelectedBrands
      this.action.params.selectedBrands.sort((a, b) => {
        return a.position > b.position
      })

      this.$emit('selected', {type: 'new'})
    },
    cancel () {
      this.$emit('selected', {type: 'cancel'})
    }
  },
  data () {
    return {
      errorMessage: '',
      tempSelectedBrands: []

    }
  }
}
</script>
