<template>
    <div>
      <v-container fluid>
      <v-flex xs12>
        <v-alert
          error 
          dismissible
          v-model="showError">
          Please make sure all columns and all rows sum to 100
        </v-alert>
      </v-flex>

      <v-layout row>
        <v-flex xs12>
        <v-card>
          <v-data-table
              v-bind:headers="headers"
              :items="viewMatrix"
              item-text="name"
              hide-actions
              class="elevation-1"
            >
            <template slot="items" scope="props">
              <td class="text-xs-left">{{ props.item.position }}</td>
              <td v-for="(w, index) in props.item.weight" v-model=index class="text-xs-left">
                  <v-edit-dialog
                    v-if="isEditable"
                    @open="props.item._temp = props.item.weight[index].value"
                    @cancel="props.item.weight[index].value = props.item._temp || props.item.weight[index].value"
                    lazy
                    > {{ props.item.weight[index].value }}%
                    <v-text-field
                      slot="input"
                      label="Edit"
                      v-bind:value="props.item.weight[index].value"
                      v-on:change="itemChanged($event, props, index)"
                      single-line counter="counter"
                    ></v-text-field>
                  </v-edit-dialog>
                  <span v-else>{{ props.item.weight[index].value }}%</span>
              </td>
            </template>
          </v-data-table>
        </v-card>
        </v-flex>
      </v-layout>
      </v-container>
      <v-container fluid>
        <v-layout row>
          <v-flex>
            <v-btn v-if="isEditable" @click='SelecteBrands()'>Select Brands</v-btn>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
</template>
<script>
export default {
  name: 'MatrixFill',
  props: ['action', 'isEditable', 'isNew'],
  methods: {
    SelecteBrands () {
      this.$emit('selectBrands')
    },
    buildHeaders () {
      this.headers = [{ text: 'Pos\\Brand', align: 'left', sortable: false }]
      for (let brand of this.action.params.selectedBrands) {
        let header = {
          text: brand.name,
          align: 'left',
          sortable: false
        }
        this.headers.push(header)
      }
    },
    buildNewMatrix () {
      let size = this.action.params.selectedBrands.length
      let value = Math.floor(100 / size)
      let newMatrix = []
      for (let i = 0; i < size; i++) {
        newMatrix[i] = []
        for (let j = 0; j < size; j++) {
          if (i === j) {
            newMatrix[i].push(100 - (size - 1) * value)
          } else {
            newMatrix[i].push(value)
          }
        }
      }
      this.action.params.matrix = newMatrix
    },
    buildViewMatrix () {
      let originalMatrix = this.action.params.matrix
      this.viewMatrix = []
      for (let j in this.action.params.selectedBrands) {
        let brand = this.action.params.selectedBrands[j]
        let count = this.action.params.selectedBrands.length
        let weight = []
        for (let i = 0; i < count; i++) {
          weight.push({value: originalMatrix[j][i]})
        }
        let item = {
          position: brand.position,
          weight: weight
        }
        this.viewMatrix.push(item)
      }
    },
    setMatrix () {
      let matrix = this.action.params.matrix
      for (let i = 0; i < this.viewMatrix.length; i++) {
        let row = this.viewMatrix[i].weight
        for (let j = 0; j < row.length; j++) {
          let col = row[j]
          matrix[i][j] = parseInt(col.value)
        }
      }
    },
    validateMatrix () {
      let valid = true
      let matrix = this.action.params.matrix
      let length = matrix.length
      let j, i, rowSum, colSum
      for (i = 0; i < length; i++) {
        rowSum = 0
        colSum = 0
        for (j = 0; j < length; j++) {
          rowSum += matrix[i][j]
          colSum += matrix[j][i]
        }

        valid = ((rowSum === 100) && (colSum === 100))
        if (!valid) {
          this.showError = true
          return false
        }
      }

      return true
    },
    itemChanged (event, props, index) {
      props.item.weight[index].value = event.target.value
      this.setMatrix()
      if (this.showError) {
        this.tpActionValidate()
      }
    },
    tpActionValidate () {
      let valid = this.validateMatrix()
      this.showError = !valid

      return valid
    }
  },
  created () {
    this.buildHeaders()
    if (this.isNew) {
      this.buildNewMatrix()
    }
    this.buildViewMatrix()
  },
  data () {
    return {
      showError: false,
      headers: [],
      viewMatrix: []
    }
  }
}
</script>
