<template>
  <div>
    <brands-selection
      :showError="brandsError"
      :action="action"
      v-if="isChoosingBrands"
      @selected="toggleChoosingBrands($event)"
      @cancel="toggleChoosingBrands($event)"
      :canCancel="canCancel"
    ></brands-selection>

    <matrix-fill 
      ref="matrixFill"
      v-if="!isChoosingBrands"
      :isNew="isNew"
      :action="action"
      :isEditable="isEditable"
      @selectBrands="toggleChoosingBrands($event)"
    ></matrix-fill>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import BrandsSelection from './BrandsSelection.vue'
import MatrixFill from './MatrixFill.vue'

export default {
  name: 'WeightRotation',
  props: ['action', 'isEditable'],
  components: {
    BrandsSelection,
    MatrixFill
  },
  computed: {
    ...mapGetters([
    ])
  },
  created () {
    this.isChoosingBrands = this.action.params.selectedBrands.length < 2
    this.canCancel = !this.isChoosingBrands
  },
  methods: {
    brandsSelected (selectedBrands) {
      this.isChoosingBrands = false
      this.action.params.selectedBrands = selectedBrands
      this.canCancel = true
    },
    toggleChoosingBrands (event) {
      this.clearErrors()
      if (event) {
        this.isNew = (event.type === 'new')
      }
      this.isChoosingBrands = !this.isChoosingBrands
    },
    tpActionValidate () {
      if (this.isChoosingBrands) {
        this.brandsError = true
        return false
      } else {
        return this.$refs.matrixFill.tpActionValidate()
      }
    },
    clearErrors () {
      this.brandsError = false
    }
  },

  data () {
    return {
      isChoosingBrands: true,
      isNew: false,
      canCancel: false,
      brandsError: false
    }
  }
}
</script>
