<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3 edit-form-container>
        <v-form v-model="valid" ref="form" lazy-validation>
          <div class="card-title">
            <h2>{{pageName}} List placement</h2>
            <div>
              <v-btn class="back-btn" @click="back()">Back</v-btn>
              <v-btn @click="save()">Save</v-btn>
            </div>
          </div>
          <v-text-field
                  label="Name"
                  v-model="listPlacement.name"
                  :error-messages="errors.collect('name')"
                  v-validate="'required'"
                  data-vv-name="name"
          ></v-text-field>
          <v-text-field
                  label="Slug"
                  v-model="listPlacement.slug"
                  v-validate="'required'"
                  :error-messages="errors.collect('slug')"
                  data-vv-name="slug"
          ></v-text-field>
          <v-text-field
                  label="Description"
                  v-model="listPlacement.description"
                  v-validate="'required'"
                  :error-messages="errors.collect('description')"
                  data-vv-name="description"
          ></v-text-field>
          <v-select
                  label="List"
                  v-model="selectedList"
                  v-validate="'required'"
                  :items="lists"
                  item-text="name"
                  item-value="list"
                  :error-messages="errors.collect('list')"
                  data-vv-name="list"
          ></v-select>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'ListPlacementEdit',
  computed: {
    ...mapGetters([
      'listPlacement',
      'lists'
    ]),
    isNewList () {
      return !this.$route.params.lpId
    }
  },
  created () {
    let siteId = this.$route.params.siteId
    this.getLists(siteId)
    if (this.isNewList) {
      let list = {
        name: '',
        slug: '',
        description: '',
        siteId: siteId,
        listId: null
      }
      this.setListPlacement(list)
      this.pageName = 'Create'
    } else {
      this.getListPlacement(this.$route.params.lpId)
    }
  },
  watch: {
    lists () {
      if (this.listPlacement.listId) {
        this.selectList(this.listPlacement.listId)
      }
    },
    listPlacement () {
      if (this.listPlacement.listId) {
        this.selectList(this.listPlacement.listId)
      }
    }
  },
  methods: {
    ...mapActions([
      'getListPlacement',
      'setListPlacement',
      'saveListPlacement',
      'showAlert',
      'getLists'
    ]),
    validated () {
      this.$validator.validateAll()
      let valid = (this.$validator.errors.count() === 0)

      return valid
    },
    selectList (listId) {
      this.selectedList = this.lists.find(list => { return list.id === listId })
    },
    back () {
      this.$router.go(-1)
    },
    save () {
      let valid = this.validated()
      if (!valid) {
        this.showAlert({
          color: 'error',
          text: 'Please fill all the fields'
        })
        return
      }
      this.listPlacement.listId = this.selectedList.id
      this.saveListPlacement()
        .then((savedlistPlacement) => {
          this.showAlert({
            color: 'success',
            text: 'List placement saved'
          })
          this.$router.push({
            name: 'ListsPlacements',
            params: {
              siteId: this.$route.params.siteId
            }
          })
        })
    }
  },
  data: () => ({
    pageName: 'Edit',
    valid: true,
    selectedList: {}
  })
}
</script>
