<template>
  <v-container grid-list-md>
    <v-layout row wrap>
      <v-flex xs12 md8 offset-md2>
        <h2 class="text-cetner">List Placement </h2>
        <v-btn class="add-new" @click="newListPlacement()">
          <i class="material-icons">add</i>
        </v-btn>
        <v-data-table
                v-bind:headers="headers"
                :items="listsPlacements"
                hide-actions
                class="elevation-1"
        >
          <template slot="items" scope="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.list.name }}</td>
            <td class="text-xs-right">
              <v-tooltip top>
                <v-btn class="edit-btn" slot="activator" v-if="props.item.activeExperimentId" @click="activeExperiment(props)">
                  <i class="material-icons">star</i>
                </v-btn>
                <span>Active Experiment</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn class="edit-btn" slot="activator" @click="listEdit(props)">
                  <i class="material-icons">view_list</i>
                </v-btn>
                <span>Edit List</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn class="edit-btn" slot="activator" @click="experimentList(props)">
                  <i>Exp</i>
                </v-btn>
                <span>Experiments</span>
              </v-tooltip>
              <v-tooltip top>
                <v-btn class="edit-btn" slot="activator" @click="edit(props)" >
                  <i class="material-icons">edit</i>
                </v-btn>
                <span>Edit List Placement</span>
              </v-tooltip>
              {{ props.item.calories }}
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  computed: {
    ...mapGetters([
      'listsPlacements'
    ])
  },
  created () {
    this.getListPlacements(this.$route.params.siteId)
  },
  methods: {
    ...mapActions([
      'getListPlacements'
    ]),
    edit (prop) {
      this.$router.push({
        name: 'ListPlacementEdit',
        params: {
          siteId: this.$route.params.siteId,
          lpId: prop.item.id
        }
      })
    },
    newListPlacement () {
      this.$router.push({
        name: 'ListsPlacementCreate',
        params: {
          siteId: this.$route.params.siteId
        }
      })
    },
    listEdit (prop) {
      this.$router.push({
        name: 'ListEdit',
        params: {
          siteId: this.$route.params.siteId,
          listId: prop.item.listId
        }
      })
    },
    experimentList (prop) {
      this.$router.push({
        name: 'ExperimentList',
        params: {
          siteId: this.$route.params.siteId,
          lpId: prop.item.id
        }
      })
    },
    activeExperiment (prop) {
      this.$router.push({
        name: 'ExperimentView',
        params: {
          siteId: this.$route.params.siteId,
          lpId: prop.item.id,
          experimentId: prop.item.activeExperimentId
        }
      })
    }
  },
  data () {
    return {
      headers: [
        {
          text: 'Placement',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'List name',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        {
          text: 'Actions',
          align: 'center'
        }
      ]
    }
  }
}
</script>
