<template>
<v-layout>
  <v-flex xs12 md8 offset-md2>
       <h2>Experiments</h2>
       <v-toolbar class="grey lighten-4" light>
         <v-toolbar-title>
           <v-chip class="lp-link" @click="gotoLp()">Placement: {{listPlacement.name}}</v-chip>
         </v-toolbar-title>
           <v-spacer></v-spacer>
           <router-link :to="{ name: 'ExperimentCreate'}">
               <v-btn class="experiment-btn add-new">
                 <v-icon>add</v-icon>
               </v-btn>
           </router-link>
       </v-toolbar>
        <v-card-title>
          Nutrition
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="search"
            label="Search"
            single-line
            hide-details
            v-model="search"
          ></v-text-field>
        </v-card-title>
        <v-data-table
            ref="table"
            :headers="headers"
            :items="experiments"
            :search="search"
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
            :custom-sort="customSort"
          >
          <template slot="items" scope="props">
            <td class="text-xs-left">
                <a @click="show(props.item)"  target="_blank">
                {{ props.item.name }}
                </a>
            </td>
            <td class="text-xs-left">
              <experiment-status :status="props.item.status"></experiment-status>
            </td>
            <td class="text-xs-left">{{ props.item.description }}</td>
            <td class="text-xs-left">{{ props.item.updated_at }}</td>
          </template>
          <template slot="pageText" scope="{ pageStart, pageStop }">
            From {{ pageStart }} to {{ pageStop }}
          </template>
        </v-data-table>
      </v-card>
  </v-flex>
</v-layout>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import ExperimentStatus from './Status.vue'

export default {
  computed: {
    ...mapGetters([
      'currentSite',
      'listPlacement',
      'experiments'
    ])
  },
  components: {
    ExperimentStatus
  },
  created () {
    this.getListPlacement(this.$route.params.lpId)
    this.getExperiments()
  },
  data () {
    return {
      search: '',
      pagination: {
        sortBy: 'updated_at'
      },
      totalItems: 20,
      rowsPerPageItems: [10, 20, 30, {text: 'All', value: -1}],
      headers: [
        {
          text: 'Experiment Name',
          align: 'left',
          sortable: true,
          value: 'name'
        },
        { text: 'Status', align: 'left', value: 'status', sortable: true },
        { text: 'Description', align: 'left', sortable: false },
        { text: 'Updated at', value: 'updated_at', align: 'left', sortable: true }
      ]
    }
  },
  methods: {
    ...mapActions([
      'getSite',
      'getExperiments',
      'getListPlacement'
    ]),
    show (item) {
      this.$router.push({
        name: 'ExperimentView',
        params: {
          siteId: this.currentSite.id,
          lpId: this.listPlacement.id,
          experimentId: item.id
        }
      })
    },
    gotoLp () {
      this.$router.push({
        name: 'ListPlacementEdit',
        params: {
          siteId: this.currentSite.id,
          lpId: this.listPlacement.id
        }
      })
    },
    customSort (items, index, isDescending) {
      if (index === 'updated_at') {
        return this.dateSort(items, index, isDescending)
      } else {
        return this.defaultSort(items, index, isDescending)
      }
    },
    dateSort (items, index, isDescending) {
      return items.sort((a, b) => {
        let sortA = a[index]
        let sortB = b[index]
        if (isDescending) {
          [sortA, sortB] = [sortB, sortA]
        }

        return new Date(sortA) - new Date(sortB)
      })
    },
    // copied from original source code should look for a way to use the original code
    defaultSort (items, index, isDescending) {
      if (index === null) return items

      return items.sort((a, b) => {
        let sortA = a[index]
        let sortB = b[index]

        if (isDescending) {
          [sortA, sortB] = [sortB, sortA]
        }

        // Check if both are numbers
        if (!isNaN(sortA) && !isNaN(sortB)) {
          return sortA - sortB
        }

        // Check if both cannot be evaluated
        if (sortA === null && sortB === null) {
          return 0
        }

        [sortA, sortB] = [sortA, sortB]
          .map(s => (
            (s || '').toString().toLocaleLowerCase()
          ))

        if (sortA > sortB) return 1
        if (sortA < sortB) return -1

        return 0
      })
    }
  }
}
</script>
