<template>
  <v-chip :class="statusProps.class">{{statusProps.text}}</v-chip>
</template>

<script>
import {STATUS} from '../general/constants.js'

export default {
  name: 'ExperimentStatus',
  props: ['status'],
  computed: {
    statusProps () {
      let statuses = {
        [STATUS.active]: {
          class: 'green white--text',
          text: 'Active'
        },
        archive: {
          class: 'grey lighten-1 white--text',
          text: 'Archive'
        },
        draft: {
          class: 'grey darken-1 white--text',
          text: 'Draft'
        },
        new: {
          class: 'grey lighten-1 white--text',
          text: 'New'
        },
        unknown: {
          class: 'red  white--text',
          text: 'Error Unknown Status: ' + this.status
        }
      }

      if (statuses.hasOwnProperty(this.status)) {
        return statuses[this.status]
      } else {
        return statuses['unknown']
      }
    }
  },
  data () {
    return {}
  }
}
</script>
