<template>
  <div>
    <v-btn class="back-btn" @click="back()" round small>Back</v-btn>
    <tp-confirm-button v-for="button of confirmButtons" 
      v-if="show(button.type)"
      @confirmed="command(button.type)"  
      :open-btn-text="button.name"
      :classes="button.classes"
      :headline="button.headline"
      :text="button.text">
     ></tp-confirm-button>

    <v-btn 
      v-if="show('save')"     
      @click="command('save')"
      round small primary dark>
      Save
    </v-btn>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {STATUS} from '../general/constants.js'
import TpConfirmButton from '../general/TpConfirmButton.vue'

export default {
  name: 'ToolbarButtons',
  components: {
    TpConfirmButton
  },
  computed: {
    ...mapGetters([
      'currentSite',
      'currentList',
      'currentExperiment'
    ]),
    canClone () {
      return true
    }
  },
  created () {
  },
  methods: {
    command (command) {
      this.$emit('action', command)
    },
    back () {
      this.$router.go(-1)
    },
    show (type) {
      let status = this.currentExperiment.status
      let isDirty = this.currentExperiment.isDirty
      switch (type) {
        case 'delete':
          return status === STATUS.draft
        case 'save':
          return status === STATUS.draft || status === STATUS.new
        case 'activate':
          return status === STATUS.draft && !isDirty
        case 'clone':
          return status === STATUS.archive || status === STATUS.active
        case 'stop':
          return status === STATUS.active
      }
    }
  },
  data () {
    return {
      confirmButtons: [
        {
          type: 'activate',
          name: 'Activate',
          classes: 'btn--round green btn--dark btn--small',
          headline: 'Activate Experiment',
          text: 'Activate this experiment will cancel other active experiment if exists. Are you sure you to Activate this experiment?'
        },
        {
          type: 'delete',
          name: 'Delete',
          classes: 'btn--round red btn--dark btn--small',
          headline: 'Delete Experiment',
          text: 'Are you sure you to delete experiment?'
        },
        {
          type: 'stop',
          name: 'Stop',
          classes: 'btn--round red btn--dark btn--small',
          headline: 'Stop Experiment',
          text: 'Are you sure you to stop experiment?'
        },
        {
          type: 'clone',
          name: 'Clone',
          classes: 'btn--round primary btn--dark btn--small',
          headline: 'Clone Experiment',
          text: 'Are you sure you to clone experiment?'
        }
      ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
