<template>
  <v-layout>
    <v-flex xs12 md6 offset-md3 v-if="currentExperiment" class="experiment">
        <h2>Experiment</h2>
       <v-toolbar>
         <v-toolbar-title>
           <v-chip class="lp-link" @click="gotoLp()">Placement: {{listPlacement.name || ''}}</v-chip>
         </v-toolbar-title>
         <experiment-status :status="currentExperiment.status"></experiment-status>
         <v-spacer></v-spacer>
           <toolbar-buttons @action="action($event)"></toolbar-buttons>
       </v-toolbar>
      <v-card>
        <v-card-text>
          <v-container fluid>
            <v-layout row>
             <v-flex xs8>
                <v-text-field
                  label="Name"
                  :disabled="!isEditable"
                  v-model="currentExperiment.name"
                  name="experiment"
                  :error-messages="errors.collect('name')"
                  v-validate="'required'"
                  data-vv-name="name"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row>
             <v-flex xs8>
                <v-text-field
                  name="description"
                  label="Description"
                  v-model="currentExperiment.description"
                  :disabled="!isEditable"
                  :error-messages="errors.collect('description')"
                  v-validate="'required'"
                  data-vv-name="description"
                ></v-text-field>
              </v-flex>
            </v-layout>
              <rules 
                ref="ruleGroup" 
                :isEditable="isEditable"
                :rulesGroup="currentExperiment.rules"
              ></rules>
              <actions 
                ref="actions"
                :isEditable="isEditable"
              ></actions>
          </v-container>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import ExperimentStatus from './Status.vue'
import Rules from '../rules/List.vue'
import Actions from '../actions/List.vue'
import ToolbarButtons from './ToolbarButtons'
import {STATUS} from '../general/constants.js'

export default {
  name: 'Experiment',
  components: {
    ExperimentStatus,
    Rules,
    Actions,
    ToolbarButtons
  },
  computed: {
    ...mapGetters([
      'listPlacement',
      'currentExperiment'
    ]),
    isEditable () {
      return this.currentExperiment.status === STATUS.draft ||
        this.currentExperiment.status === STATUS.new
    },
    isSaved () {
      let experimentString = JSON.stringify(this.currentExperiment)
      return this.savedExperiment === experimentString
    },
    isAllowedLeave () {
      return !this.isEditable || this.isSaved
    }
  },
  created () {
    this.getListPlacement(this.$route.params.lpId)
    let experimentId = this.$route.params.experimentId
    if (experimentId) {
      this.getExperiment(this.$route.params.experimentId)
        .then(experiment => {
          this.savedExperiment = JSON.stringify(experiment)
        })
    } else {
      this.setEmptyExperiment()
    }
  },
  mounted () {
    if (this.isEditable) {
      let that = this
      window.onbeforeunload = function () {
        if (that.isAllowedLeave) {
          return null
        } else {
          // chrome disable custome messages so this may not be displayed
          // https://stackoverflow.com/questions/37782104/javascript-onbeforeunload-not-showing-custom-message
          return 'Changes that you made may not be saved. Are you sure you want to leave?'
        }
      }
    }
  },
  beforeRouteLeave (to, from, next) {
    if (this.isAllowedLeave) {
      return next()
    }

    const answer = window.confirm('Changes that you made may not be saved. Are you sure you want to leave?')
    return answer ? next() : next(false)
  },
  methods: {
    ...mapActions([
      'getExperiment',
      'setEmptyExperiment',
      'cloneExperiment',
      'deleteExperiment',
      'stopExperiment',
      'activateExperiment',
      'createExperiment',
      'updateExperiment',
      'getListPlacement',
      'showAlert'

    ]),
    action (action) {
      this[action]()
    },
    clone () {
      this.cloneExperiment()
        .then(experiment => {
          this.showSuccessAlert('Experiment cloned')
          this.gotoExperiment(experiment)
        })
    },
    stop () {
      this.stopExperiment()
        .then(experiment => {
          this.showSuccessAlert('Experiment stopped')
        })
    },
    delete () {
      this.deleteExperiment()
        .then(experiment => {
          this.$router.push({
            name: 'ExperimentList',
            params: {
              siteId: this.currentExperiment.siteId,
              lpId: this.currentExperiment.lpId
            }
          })
        })
    },
    activate () {
      if (!this.isSaved) {
        this.showErrorAlert('Please save experiment before activation')
        return false
      }
      this.activateExperiment()
        .then(experiment => {
          this.showSuccessAlert('Experiment Activated')
        })
    },
    gotoExperiment (experiment) {
      this.$router.push({
        name: 'ExperimentView',
        params: {
          siteId: experiment.siteId,
          lpId: experiment.listPlacementId,
          experimentId: experiment.id
        }
      })
    },
    validate () {
      this.$validator.validateAll()
      let valid = (this.$validator.errors.count() === 0)
      valid = this.$refs.ruleGroup.tpRuleValidate() && valid
      valid = this.$refs.actions.tpActionValidate() && valid

      return valid
    },
    gotoLp () {
      this.$router.push({
        name: 'ListPlacementEdit',
        params: {
          siteId: this.currentExperiment.siteId,
          lpId: this.currentExperiment.listPlacementId
        }
      })
    },
    save () {
      let valid = this.validate()
      if (valid) {
        if (this.currentExperiment.status === 'new') {
          this.createExperiment()
          .then(experiment => {
            this.savedExperiment = JSON.stringify(experiment)
            this.showSuccessAlert('Experiment Saved')
            this.gotoExperiment(experiment)
          })
        } else {
          this.updateExperiment()
          .then(experiment => {
            this.savedExperiment = JSON.stringify(experiment)
            this.showSuccessAlert('Experiment saved')
          })
        }
      } else {
        this.showErrorAlert('Please fill all fields')
      }
    },
    showSuccessAlert (text) {
      this.showAlert({
        color: 'success',
        text: text
      })
    },
    showErrorAlert (text) {
      this.showAlert({
        color: 'error',
        text: text
      })
    }
  },
  data () {
    return {
      savedExperiment: 'TEMPORARY'
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
