<template>
  <v-app light>
    <navbar></navbar>
    <v-container fluid>
       <router-view></router-view>
    </v-container>
    <v-footer>
      <span>&copy; Traffic Point 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import Navbar from '@/components/nav/Navbar'
export default {
  components: {
    Navbar
  }
}
</script>

<style lang="stylus">
  @import '~vuetify/src/stylus/main'

  @import './stylus/main'
  @import './stylus/buttons'
</style>
