<template>
  <v-layout row>
    <v-flex md6 offset-md3>
      <h2>Positions score for content types</h2>
      <v-card v-for="ct in contentTypes" >
        <v-toolbar @click="edit(ct.id)">
          <v-toolbar-title >
            {{ct.name}}
          </v-toolbar-title>
        </v-toolbar>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'ContentTypeList',
  components: {
  },
  computed: {
    ...mapGetters([
      'contentTypes'
    ])
  },
  watch: {
  },
  created () {
    this.getContentTypes(this.$route.params.siteId)
  },
  methods: {
    ...mapActions([
      'getContentTypes'
    ]),
    edit (contentTypeId) {
      this.$router.push({
        name: 'PositionsScoreEdit',
        params: {
          siteId: this.$route.params.siteId,
          contentTypeId: contentTypeId
        }
      })
    }
  },
  data () {
    return {}
  }
}
</script>
<style scoped>
</style>
