<template>
  <v-flex edit-form-container>
      <v-form>
          <v-layout row>
            <v-flex offset-md3 md4>
              <h2><strong>{{ contentTypeName }}</strong> score positions</h2>
            </v-flex>
            <v-flex md3 offset-md2>
              <v-btn class="default-btn" @click="save()">Save</v-btn>
              <v-btn class="default-btn" @click="addRow()">Add Row</v-btn>
            </v-flex>
          </v-layout>
          <draggable  class="drag" :list="positionsScore" >
                <v-layout row v-for="(pScore, index) in positionsScore">
                  <v-toolbar class="row" >
                    <v-flex xs1 class="counter">
                        {{index + 1}}
                    </v-flex>
                    <v-flex class="item-fields" jxs8>
                      <item-fields  
                        ref="items"
                        :brand="pScore">
                      </item-fields>
                    </v-flex>
                    <v-flex xs1>
                        <v-icon dark
                          class="remove-btn"
                          @click="removeRow(index)"
                          x-large
                          >delete_forever</v-icon>
                    </v-flex>
                  </v-toolbar>
                </v-layout>
          </draggable>
          </div>
      </v-form>
  </v-flex>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import ItemFields from '../lists/ItemFields.vue'
import draggable from 'vuedraggable'

export default {
  name: 'ListEdit',
  components: {
    ItemFields,
    draggable
  },
  computed: {
    ...mapGetters([
      'positionsScore',
      'contentTypes'
    ]),
    contentTypeName () {
      let ct = this.contentTypes.find(ct => { return ct.id === this.contentTypeId })

      return ct ? ct.name : ''
    }
  },
  created () {
    this.contentTypeId = this.$route.params.contentTypeId
    this.getPositionsScore(this.contentTypeId)
  },
  methods: {
    ...mapActions([
      'getPositionsScore',
      'savePositionsScore',
      'showAlert'
    ]),
    addRow () {
      this.positionsScore.push(
        {
          score: '',
          stars: '',
          scoreText: ''
        }
      )
    },
    removeRow (index) {
      this.positionsScore.splice(index, 1)
    },
    validate () {
      let valid = true
      for (let item of this.$refs.items) {
        valid = item.tpValidate() && valid
      }

      return valid
    },
    save () {
      if (!this.validate()) {
        this.showAlert({
          color: 'error',
          text: 'Please fill all the fields'
        })
        return
      }

      this.savePositionsScore(this.contentTypeId)
        .then(() => {
          this.showAlert({
            color: 'success',
            text: 'Positions scored saved'
          })
        })
    }
  },
  data () {
    return {
      contentTypeId: null
    }
  }
}
</script>
<style scoped>
.item-fields {
  margin-top: 80px;
  background: red;
}
.row {
  height: 150px;
  margin-bottom: 20px
}
.remove-btn {
  margin-top: 70px;
  margin-left: 30px;
}

.counter {
  padding-top: 72px;
  padding-left: 10px;
  font-size: 42px;
  color: #00b289
}
</style>
