<template>
  <v-snackbar
    :timeout="snackbar.timeout"
    :top="snackbar.top"
    :color="snackbar.color"
    v-model="snackbar.view"
   >
    {{ snackbar.text }}
  </v-snackbar>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'Alert',
  computed: {
    ...mapGetters([
      'alert'
    ])
  },
  watch: {
    alert () {
      this.snackbar.color = this.alert.color
      this.snackbar.text = this.alert.text
      this.snackbar.view = true
    }
  },
  data () {
    return {
      snackbar: {
        timeout: 3000,
        top: true,
        color: 'success',
        view: false,
        text: ''
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
