<template>
  <v-toolbar>
    <v-btn  
      @click="gotoLists()"
      icon dark>
      <v-icon>home</v-icon>
    </v-btn>
    <alert></alert>
    <v-tooltip bottom>
      <v-btn slot="activator" 
        @click="gotoPositionsScore()"
        icon dark>
         <v-icon>gps_fixed</v-icon>
      </v-btn>
      <span>Positions</span>
    </v-tooltip>
    <v-flex xs4 >
      <v-container>
        <site-chooser></site-chooser>
      </v-container>
    </v-flex >
    <v-spacer></v-spacer>
    <v-btn href="#/logout" icon dark>logout</v-btn>
  </v-toolbar>
</template>

<script>
import SiteChooser from '@/components/nav/SiteChooser.vue'
import Alert from '@/components/nav/Alert.vue'
import {mapGetters} from 'vuex'

export default {
  components: {
    Alert,
    SiteChooser
  },
  computed: {
    ...mapGetters([
      'currentSite'
    ])
  },
  watch: {
    '$route' () {
      this.checkForList()
    }
  },
  methods: {
    checkForList () {
      this.showList = !!this.$route.params.listId
    },
    gotoLists () {
      this.$router.push({
        name: 'ListsView',
        params: {
          siteId: this.currentSite.id
        }
      })
    },
    gotoPositionsScore () {
      this.$router.push({
        name: 'PositionsScore',
        params: {
          siteId: this.$route.params.siteId
        }
      })
    }
  },
  mounted () {
    this.checkForList()
  },
  data () {
    return {
      showList: false
    }
  }
}
</script>
