<template>
  <v-select
    style="top:10px"
    v-bind:items="items"
    v-model="selected"
    item-value="id" item-text="name" label="Choose Site"
    return-object
    single-line
    bottom
    ></v-select>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'SiteChooser',
  components: {
  },
  created () {
    // set site id and the creation so other components can use it
    if (this.$route.params.siteId) {
      this.setCurrentSite({
        id: this.$route.params.siteId
      })
    }
    this.getSites()
  },
  computed: {
    ...mapGetters([
      'currentSite',
      'sites'
    ]),
    items () {
      return this.sites
    }
  },
  methods: {
    ...mapActions([
      'getSites',
      'setCurrentSite'
    ]),
    gotoSite () {
      this.$router.push({
        name: 'ListsView',
        params: {
          siteId: this.selected.id
        }
      })
    }
  },
  watch: {
    sites () {
      if (this.$route.params.siteId) {
        this.selected = this.sites.find(site => {
          return (site.id === parseInt(this.$route.params.siteId))
        })
        this.avoidGotoSite = true
      } else {
        this.selected = this.sites[0]
        this.gotoSite()
      }
    },
    selected () {
      this.setCurrentSite(this.selected)
      if (!this.avoidGotoSite) {
        this.gotoSite()
      }
      this.avoidGotoSite = false
    }
  },
  data () {
    return {
      avoidGotoSite: false,
      selected: {}
    }
  }
}
</script>

