<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex xs12 md6 offset-md3>
        <h2>Site View</h2>
            <v-btn class="home-btn" @click="listsPlacements()">
              list placements
            </v-btn>
            <v-btn class="home-btn" @click="lists()">
              lists
            </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: 'SiteView',
  components: {
  },
  computed: {
    ...mapGetters([
      'currentSite'
    ])
  },
  methods: {
    lists () {
      this.$router.push({
        name: 'Lists',
        params: {
          siteId: this.currentSite.id
        }
      })
    },
    listsPlacements () {
      this.$router.push({
        name: 'ListsPlacements',
        params: {
          siteId: this.currentSite.id
        }
      })
    }
  },
  data () {
    return {}
  }
}
</script>

