<template>
  <v-container>
    <v-layout>
      <v-flex xs12>
          <v-toolbar dense>
            <v-toolbar-title>Add Action</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
        <v-card>
          <v-card-text>
            <v-layout row wrap>
              <v-flex xs3>
                <v-subheader>Action Types</v-subheader>
              </v-flex>
              <v-flex xs7>
                <v-select
                     v-bind:items="items"
                     v-model="selected"
                     item-text="name"
                     item-value="type"
                     label="Select"
                     return-object
                     single-line
                     bottom
                     ></v-select>
              </v-flex>
              <v-flex xs2>
                <v-btn @click="add()">Add</v-btn>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
import {mapGetters} from 'vuex'

export default {
  name: 'AddAction',
  computed: {
    ...mapGetters([
      'actionTypes'
    ]),
    items () {
      return this.actionTypes
    }
  },
  watch: {
    actionTypes () {
      this.selected = Array.isArray(this.actionTypes) ? this.actionTypes[0] : {}
    }
  },
  data () {
    return {
      selected: {}
    }
  },
  methods: {
    add () {
      this.$emit('add:action', this.selected.type)
    }
  }
}
</script>
