<template>
      <v-flex xs12  >
         <v-toolbar dense>
           <v-toolbar-title>
             Actions
           </v-toolbar-title>
           <v-spacer></v-spacer>
         </v-toolbar>
        <v-card>
          <v-flex md6>
            <v-alert
              error 
              dismissible
              v-model="showError">
              Please add at least one action 
            </v-alert>
          </v-flex>
          <v-container>
            <add-action 
              v-if="isEditable"
              @add:action="addAction($event)" 
            ></add-action>
          </v-container>
          <v-card-text v-if="isActions" >
            <action  
              :isEditable="isEditable"
              ref="actions" 
              v-for="action of currentExperiment.actions" 
              @remove="removeAction($event)" 
              :action="action" 
            ></action>
          </v-card-text>
        </v-card>
      </v-flex>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import WeightRotation from './actionTypes/WeightRotation/WeightRotation'
import BudgetLimit from './actionTypes/BudgetLimit/BudgetLimit'
import AddAction from './Add'
import Action from './View'

let actionsInitObject = {
  WeightRotation: {
    type: 'WeightRotation',
    params: {
      selectedBrands: []
    }
  },
  ManualOrder: {
    type: 'ManualOrder',
    params: {
      orderedList: [],
      displayPercentage: 50
    }
  }
}

export default {
  name: 'ActionsView',
  props: ['isEditable'],
  components: {
    WeightRotation,
    BudgetLimit,
    AddAction,
    Action
  },
  created () {
    this.getActionTypes()
  },
  computed: {
    ...mapGetters([
      'currentExperiment'
    ]),
    isActions () {
      return !!(this.currentExperiment.actions)
    }
  },
  methods: {
    ...mapActions([
      'getActionTypes'
    ]),
    addAction (actionType) {
      this.showError = false
      let newAction = Object.assign({}, actionsInitObject[actionType])
      this.currentExperiment.actions.push(newAction)
    },
    removeAction (action) {
      let index = this.currentExperiment.actions.indexOf(action)
      if (index !== -1) {
        this.currentExperiment.actions.splice(index, 1)
      }
    },
    tpActionValidate () {
      let valid = true
      if (this.currentExperiment.actions.length === 0) {
        this.showError = true

        return false
      } else {
        this.$refs.actions.forEach(action => {
          valid = action.tpActionValidate() && valid
        })
        return valid
      }
    }
  },
  data () {
    return {
      showError: false
    }
  }
}
</script>
