<template>
  <v-container>
    <v-layout>
      <v-flex xs12  >
         <v-toolbar dense>
           <v-toolbar-title>
             {{ actionName }}
           </v-toolbar-title>
             <v-spacer></v-spacer>
             <tp-confirm-button
               v-if="isEditable"
               @confirmed="remove()"
               classes="btn--round btn--small main-color btn--dark"
               open-btn-text="Remove"
               headline="Remove Rule"
               text="Are you sure you to delete action?" >
             </tp-confirm-button>
         </v-toolbar>
         <v-card>
           <component
            ref="action"
            :isEditable="isEditable"
            :action="action"
            :is="action.type"
           >
           </component>
         </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import {mapGetters} from 'vuex'
import WeightRotation from './actionTypes/WeightRotation/WeightRotation'
import BudgetLimit from './actionTypes/BudgetLimit/BudgetLimit'
import ManualOrder from './actionTypes/ManualOrder/ManualOrder'
import TpConfirmButton from '../general/TpConfirmButton.vue'

export default {
  name: 'ActionsView',
  props: ['action', 'isEditable'],
  components: {
    WeightRotation,
    BudgetLimit,
    ManualOrder,
    TpConfirmButton
  },
  computed: {
    ...mapGetters([
      'currentExperiment',
      'actionTypes'
    ]),
    actionName () {
      let actionType = this.actionTypes.find(actionType => (actionType.type === this.action.type))
      if (actionType) {
        return actionType.name
      }
    }
  },
  methods: {
    tpActionValidate () {
      return this.$refs.action.tpActionValidate()
    },
    remove () {
      this.$emit('remove', this.action)
    }
  },
  data () {
    return {}
  }
}
</script>
