<template>
  <div>
      <v-flex xs12  >
        <v-toolbar dense>
          <v-toolbar-title>
            Match Type
          </v-toolbar-title>
            <v-flex xs1 >
              <v-container>
                  <v-select
                    :disabled="!isEditable"
                    style="top:10px"
                    v-bind:items="items"
                    v-model="rulesGroup.condition"
                    label="Match Type"
                    chips
                    dark 
                    single-line
                    >
                   <template slot="selection" scope="data">
                     <v-chip :class="matchTypeColor(data.item)" >{{ data.item.text }}</v-chip>
                   </template>
                  </v-select>
              </v-container>
            </v-flex>
            <v-spacer></v-spacer>
            <tp-confirm-button
              v-if="isEditable" 
              @confirmed="remove()"
              classes="btn--round btn--small main-color btn--dark"
              open-btn-text="Remove"
              headline="Remove Rule"
              text="Are you sure you to delete rule?" >
            </tp-confirm-button>
        </v-toolbar>
        <v-card>
          <v-flex md6>
            <v-alert
              error 
              dismissible
              v-model="showError">
              Please add at least one rule
            </v-alert>
          </v-flex>
          <v-card-text>
          <v-container v-if="isEditable" fluid>
            <v-layout row>
              <v-flex xs3>
                <v-select
                  v-bind:items="ruleTypes"
                  v-model="ruleType"
                  item-text="name"
                  item-value="type"
                  label="Rule Type"
                  return-object
                  single-line
                  ></v-select>
              </v-flex>
              <v-flex xs6 offset-xs1>
                <v-btn @click="add()" xs3>Add</v-btn>
                <v-btn @click="addGroup()" xs3>Add Group</v-btn>
              </v-flex>
            </v-layout>
          </v-container>
            <div v-for="rule of rulesGroup.rules" >
                <rule 
                  ref="rules"
                  :isEditable="isEditable"
                  v-if="isSimpleRule(rule)"
                  @remove:rule="removeRule($event)" 
                  :rule="rule" 
                ></rule>
                <rules-group 
                  ref="groups"
                  v-else
                  :isEditable="isEditable"
                  @remove:group="removeRule($event)" 
                  :rulesGroup="rule" 
                ></rules-group>
            </div>
        </v-card-text>
      </v-card>
    </v-flex>
  </div>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'
import Rule from './View'
import TpConfirmButton from '../general/TpConfirmButton.vue'

export default {
  name: 'RulesGroup',
  props: ['rulesGroup', 'isEditable'],
  components: {
    Rule,
    TpConfirmButton
  },
  computed: {
    ...mapGetters([
      'ruleTypes'
    ])
  },
  created () {
    if (!this.ruleTypes.length) {
      this.getRuleTypes()
    } else {
      this.ruleType = this.ruleTypes[0]
    }
  },
  watch: {
    ruleTypes () {
      this.ruleType = this.ruleTypes[0]
    }
  },
  methods: {
    ...mapActions([
      'getRuleTypes'
    ]),
    matchTypeColor (item) {
      return item.value === 'or' ? 'lime darken-2 white--text' : 'teal lighten-1 white--text'
    },
    add () {
      this.showError = false
      let newRule = {
        type: this.ruleType.type
      }
      this.rulesGroup.rules.push(newRule)
    },
    addGroup () {
      this.showError = false
      let newGroup = {
        condition: 'and',
        rules: []
      }
      this.rulesGroup.rules.push(newGroup)
    },
    isSimpleRule (rule) {
      return !rule.condition
    },
    remove () {
      this.$emit('remove:group', this.rulesGroup)
    },
    removeRule (rule) {
      let index = this.rulesGroup.rules.indexOf(rule)
      if (index !== -1) {
        this.rulesGroup.rules.splice(index, 1)
      }
    },
    tpRuleValidate () {
      let valid = true
      if (this.rulesGroup.rules.length === 0) {
        this.showError = true
        return false
      }

      valid = this.validateChildren(this.$refs.groups)
      valid = this.validateChildren(this.$refs.rules) && valid

      return valid
    },
    validateChildren (rules) {
      let valid = true
      if (!rules) {
        return valid
      }

      for (let rule of rules) {
        valid = rule.tpRuleValidate() && valid
      }

      return valid
    }
  },
  data () {
    return {
      showError: false,
      items: [
        { value: 'or', text: 'Any' },
        { value: 'and', text: 'All' }
      ],
      ruleType: {}
    }
  }
}
</script>
