<template>
      <v-flex xs12  >
        <v-toolbar dense>
          <v-toolbar-title>
             Rules
          </v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card>
          <v-card-text>
            <v-container v-if="isRules" fluid>
              <rules-group
                ref="ruleGroup" 
                :isEditable="isEditable"
                @remove:group="removeGroup($event)" 
                :rulesGroup="currentExperiment.rules"
               ></rules-group>
            </v-container>
              <div v-else>No Rules.
                <v-btn 
                  v-if="isEditable" 
                  @click="addNewGroup()"
                >Add Rule Group</v-btn>
              </div>
          </v-card-text>
        </v-card>
      </v-flex>
</template>

<script>
import {mapGetters} from 'vuex'
import RulesGroup from '../rules/Group.vue'

export default {
  name: 'RuleView',
  props: ['isEditable'],
  components: {
    RulesGroup
  },
  computed: {
    ...mapGetters([
      'currentExperiment'
    ]),
    isRules () {
      return !!(this.currentExperiment.rules && this.currentExperiment.rules.condition)
    }
  },
  created () {
  },
  watch: {
  },
  methods: {
    tpRuleValidate () {
      if (!this.isRules) {
        return true
      }
      return this.$refs.ruleGroup.tpRuleValidate()
    },
    addNewGroup () {
      this.currentExperiment.rules = {
        condition: 'and',
        rules: []
      }
    },
    removeGroup () {
      this.currentExperiment.rules = {}
    }
  },
  data () {
    return {
    }
  }
}
</script>
