<template>
        <v-flex xs12  >
          <v-toolbar dense>
            <v-toolbar-title>
              {{ ruleType.name }}
            </v-toolbar-title>
              <v-spacer></v-spacer>
              <tp-confirm-button
                v-if="isEditable"
                @confirmed="remove()"
                classes="btn--round btn--small btn--dark"
                open-btn-text="Remove"
                headline="Remove Rule"
                text="Are you sure you to delete rule?" >
              </tp-confirm-button>
          </v-toolbar>
             <component
                ref="rule"
                :isEditable="isEditable"
                :rule="rule"
                :is="componentName"
             >
             </component>
      </v-flex>
</template>

<script>
import {mapGetters} from 'vuex'
import TpConfirmButton from '../general/TpConfirmButton.vue'
import ParamType from './ruleTypes/Param.vue'

export default {
  name: 'Rule',
  props: ['rule', 'isEditable'],
  components: {
    TpConfirmButton,
    ParamType
  },
  computed: {
    ...mapGetters([
      'ruleTypes'
    ]),
    componentName () {
      return this.typeToComponent[this.rule.type]
    },
    ruleType () {
      let ruleType = this.ruleTypes.find(ruleType => { return ruleType.type === this.rule.type })
      return ruleType || {name: ''}
    }
  },
  methods: {
    remove () {
      this.$emit('remove:rule', this.rule)
    },
    tpRuleValidate () {
      return this.$refs.rule.tpRuleValidate()
    }
  },
  data () {
    return {
      typeToComponent: {
        QueryParam: 'ParamType',
        CookieParam: 'ParamType'
      }
    }
  }
}
</script>
